// _notes.scss

// Sidenotes

#{$sidenote} {
    box-sizing: border-box;
    clear: both;
    float: right;
    font-size: $font-size-default * $font-size-smaller;
    font-style: inherit;
    margin: 0 0 $line-height-default $line-height-default;
    text-align: left;
    text-indent: 0;
    width: 35%;
    padding: 0; // override any inherited padding, e.g. if a blockquote
    // Indent following paras separated by sidenotes
    p + & + p,
    p + & + & + p,
    p + & + & + & + p {
        text-indent: $line-height-default;
    }
    // But don't text-indent paragraphs that follow sidenotes that follow a heading.
    // We allow for up to three sidenotes between the heading and paragraph.
    h1 + & + p,
    h2 + & + p,
    h3 + & + p,
    h4 + & + p,
    h5 + & + p,
    h6 + & + p,
    h1 + & + & + p,
    h2 + & + & + p,
    h3 + & + & + p,
    h4 + & + & + p,
    h5 + & + & + p,
    h6 + & + & + p,
    h1 + & + & + & + p,
    h2 + & + & + & + p,
    h3 + & + & + & + p,
    h4 + & + & + & + p,
    h5 + & + & + & + p,
    h6 + & + & + & + p {
        text-indent: 0;
    }
}

// Footnotes

#{$footnote-reference} {
    line-height: inherit;
}

// Endnotes

#{$endnotes} {
    margin: $line-height-default 0 0 0;
    font-size: $font-size-default * $font-size-smaller;
    line-height: $line-height-default * $font-size-smaller;
}

// Hide the text linking back to the reference from the note text,
// and show a page number in its place. Not yet supported in paged.js,
// so page-reference rule commented out.
#{$footnotes-backlink} {
    visibility: hidden;
    &:after {
        visibility: visible;
        // content: "(" target-counter(attr(href), page ) ")";
    }
}

// The page-footnotes area
// Not yet supported in paged.js
@page {
    @footnotes {
        margin-top: $line-height-default / 2;
        padding-top: $line-height-default / 2;
        font-size: $font-size-default * $font-size-smaller;
    }
}
