// _page-setup.scss

@page { 
    size: $page-width $page-height;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    padding: 0;
    marks: $crop-marks;
    // Not yet supported in paged.js:
    bleed: $bleed; // https://gitlab.pagedmedia.org/tools/pagedjs/issues/82
    trim: $trim;
    pdf-page-colorspace: $colorspace;
}
@page :left {
    margin-left: $margin-outside;
    margin-right: $margin-inside;
}
@page :right {
    margin-left: $margin-inside;
    margin-right: $margin-outside;
}

// Show page border in browser view
@media only screen {
    @page {
        box-shadow: 0px 0px 1px lightblue;
    }
}
