ul, ol {

    li {

        p {
            margin-bottom: 0;
        }
    }
}

.small-caps {
    @include small-caps();
}

span.math-node {
    line-height: 1;
}

.source-note {
    break-before: avoid;
}
