// Settings colors as custom properties
// lets us change colour in the browser
// by changing the custom property.

:root {
    --apollo-accent: rgb(0, 131, 141);
    --apollo-grey: rgb(100, 100, 100);
    --apollo-hint: rgb(235, 245, 246);
}

$color-accent: var(--apollo-accent);
$apollo-accent: var(--apollo-accent);
$apollo-grey: var(--apollo-grey);
$apollo-hint: var(--apollo-hint);
