// Mixins intended for reuse in various partials.
// Mixins created only for use in a specific partial
// should be created in that partial, not here.

@mixin page-center-text-area() {
    margin-left: ($margin-outside + $margin-inside) / 2;
    margin-right: ($margin-outside + $margin-inside) / 2;
}

@mixin heading-1 {
    font-family: $font-display-main;
    font-size: 32pt;
    line-height: $line-height-default * 3;
    text-align: left;
}

@mixin heading-2 {
    color: $apollo-accent;
    font-family: $font-display-main;
    font-weight: 500;
    font-size: 14pt;
    line-height: $line-height-default;
    margin-bottom: 0;
    margin-top: $line-height-default * 2;
    text-align: left;
}

@mixin heading-3 {
    @include small-caps();

    font-family: $font-display-main;
    font-size: 10pt;
    font-weight: 500;
    line-height: $line-height-default;
    margin-bottom: 0;
    margin-top: $line-height-default;
    text-align: left;
}

@mixin heading-4 {
    font-family: $font-display-secondary;
    text-align: left;
}

@mixin heading-5 {
    font-family: $font-display-secondary;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

@mixin heading-6 {
    font-family: $font-display-secondary;
    font-style: italic;
    text-align: left;
}
