// _variables.scss

// Set your own variables here. These override
// the defaults in themes/_defaults/_variables.scss.
// For brevity, we don't repeat all supported variables here.
// Copy the ones you want to change from defaults.scss
// to here, and remove `!default` from each one.

$page-width: 210mm;
$page-height: 297mm;
$margin-top: 60pt;
$margin-bottom: 60pt;
$margin-inside: 15mm;
$margin-outside: 15mm + 49mm; // outer margin + sidebar

// Since we can't yet control `page-1` in Ketida HTML
// we rather just give all frontmatter decimal page numbering.
$frontmatter-page-numbers: decimal;
$verso-bottom-frontmatter: counter(page, $frontmatter-page-numbers);
$recto-bottom-frontmatter: counter(page, $frontmatter-page-numbers);

// Type
$font-text-main: "Crimson Pro", serif;
$font-text-secondary: "Inter", sans-serif;
$font-display-main: "Inter", sans-serif;
$font-display-secondary: "Crimson Pro", serif;
$font-size-default: 10pt;
$line-height-default: 14pt;
$text-align-default: start;

// Paragraphs
$paragraphs: spaced;
$text-indent: 10pt;

// Note: $text-spacing that isn't $line-height-default
// will break the baseline grid, and therefore
// line alignment across spreads.
$text-spacing: $line-height-default / 2;

// Variables specific to this theme
$margin-outside-sidebar: 16mm;
$sidebar-width: $margin-outside - $margin-outside-sidebar;
$pages-with-centred-text: half-title-page, title-page, copyright, contents-page;
