// _variables.scss

// Set your own variables here. These override
// the defaults in partials/defaults.scss.
// For brevity, we don't repeat all supported variables here.
// Copy the ones you want to change from defaults.scss
// to here, and remove `!default` from each one.

// Page
$page-width: 177.8mm;
$page-height: 254mm;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Bungee+Inline|Roboto+Slab:300,400,700|Roboto:300,300i,400,700,700i&subset=latin-ext');

$font-text-main: "Roboto Slab";
$font-text-secondary: "Roboto", sans-serif;
$font-display-main: "Bungee Hairline", sans-serif;
$font-display-secondary: "Bungee Inline", sans-serif;
$font-size-default: 9pt;
$line-height-default: 13pt;
$text-align-default: left;

// Colours
$color-text-main: black;
$color-text-secondary: darkgrey;
$color-light: #eee;
$color-mid: grey;
$color-accent: #C74F32;
$color-links: inherit;

// Consistent thickness of rules
$rule-thickness: 1.5pt;

// Text divider as generated content, e.g. in hr:after
$text-divider: "*";
