// _bibliographies.scss

// Bibliographies set as lists

#{$bibliography} {
    list-style-type: none;
    margin: $text-spacing 0;
    padding: 0;
    text-indent: 0;
    li {
        text-indent: $text-indent * (-2);
        margin-left: $text-indent * 2;
    }
    & + p {
        text-indent: 0;
    }
}
