// _bibliographies.scss

// Bibliographies set as lists

#{$bibliography} {
    text-indent: 0;
    margin: $line-height-default 0;
    list-style-type: none;
    padding: 0;
    margin: $line-height-default 0;
    li {
        text-indent: $line-height-default * (-2);
        margin-left: $line-height-default * 2;
    }
    & + p {
        text-indent: 0;
    }
}
