// _cover.scss

// Cover-page styling.
// Creates a single-page low-res cover for screen PDFs.

@page cover {
    margin: 0;
    padding: 0;
}
#{$cover} {
    page: cover;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -($bleed + $trim);
    right: -($bleed + $trim);
    bottom: -($bleed + $trim);
    left: -($bleed + $trim);
    break-after: recto; // Add extra verso to retain correct folios
    break-before: recto; // Keeps cover on a recto
    // Have to target only-child to override general img styles
    // set in _images.scss
    img, img:only-child {
        height: 100%;
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}
