// _dialogue.scss

// Dialogue
// Using definition list element, dl

#{$dialogue} {
    dt {
        clear: inside; // lets sidebar elements float beside
        float: left;
        min-width: $text-indent * 2;
        padding-right: ($text-indent * 0.25);
        &:after {
            content: ": "
        }
    }
    dd {
        // match width + padding of dt
        margin: 0 0 0 ($text-indent * 2.25);
    }
}
