// _page-setup.scss

@page {
    size: $page-width $page-height;
    padding: 0;
    marks: $crop-marks;
    bleed: $bleed;
    trim: $trim;
    pdf-page-colorspace: $colorspace;
}

// Note: Paged.js currently requires that we put
// margin-top and margin-bottom in :left and :right
// below, rather than in @page above.

@page :left {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    margin-left: $margin-outside;
    margin-right: $margin-inside;
}
@page :right {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    margin-left: $margin-inside;
    margin-right: $margin-outside;
}

// Sidebar

@if $sidebar-position == outside {

    .pagedjs_right_page {

        .pagedjs_area {
            padding-right: $sidebar-width;
        }
    }

    .pagedjs_left_page {

        .pagedjs_area {
            padding-left: $sidebar-width;
        }
    }
}

@if $sidebar-position == left {

    .pagedjs_right_page {

        .pagedjs_area {
            padding-left: $sidebar-width;
        }
    }

    .pagedjs_left_page {

        .pagedjs_area {
            padding-left: $sidebar-width;
        }
    }
}

@if $sidebar-position == right {

    .pagedjs_right_page {

        .pagedjs_area {
            padding-right: $sidebar-width;
        }
    }

    .pagedjs_left_page {

        .pagedjs_area {
            padding-right: $sidebar-width;
        }
    }
}
