.review-activity {
    @include boxes-common();

    border-left: $text-indent solid $theme-color-accent;
    border-radius: 0 0 5mm 0;
    break-inside: avoid;
    font-family: $font-text-main;
    font-size: $font-size-default;

    h2, h3, h4, h5, h6 {
        @include small-caps();
        color: black;
        font-family: $font-display-secondary;
        font-size: $font-size-default;
        margin-bottom: 0;
    }
}
