@mixin runner-text-common($side: left, $opposite: right) {
    color: $theme-color-accent;
    font-family: $font-text-secondary;
    font-size: $font-size-default-small - 1;
    letter-spacing: 0.075em;
    text-align: $side;
    text-transform: uppercase;
}

@mixin runner-number-common($side: left, $opposite: right) {
    font-family: $font-text-main;
    font-size: $font-size-default-small;
    text-align: $opposite;
    margin-#{$opposite}: 3mm;
}

@mixin runner-text-divider($side: left, $opposite: right) {
    color: $theme-color-accent;
    font-weight: bold;
    margin-top: -2px; // align bullet with text
    text-align: $side;
}

.pagedjs_left_page {

    .pagedjs_margin-bottom {
        grid-template-columns: #{$sidebar-width} #{$sidebar-gap} 1fr!important;
    }
}

.pagedjs_right_page {

    .pagedjs_margin-bottom {
        grid-template-columns: 1fr #{$sidebar-gap} #{$sidebar-width}!important;
    }
}


.running-left {
    @include runner-text-common(left, right);
}

.running-right {
    @include runner-text-common(right, left);
}

@page :left {

    @bottom-left {
        @include runner-number-common(left, right);
    }

    @bottom-right {
        @include runner-text-common(left, right);
    }

    @bottom-center {
        @include runner-text-divider(left, right);
    }
}

@page :right {

    @bottom-left {
        @include runner-text-common(right, left)
    }

    @bottom-right {
        @include runner-number-common(right, left);
    }

    
    @bottom-center {
        @include runner-text-divider(right, left);
    }
}
