figure {

    figcaption {
        color: $theme-color-accent;
        font-family: $font-text-secondary;
        font-size: $font-size-default - 2; // sans-serif slightly bigger visually
    }
}

$boxes-that-might-contain-figures: case-study, worked-example, self-reflection-activities, biography;

@each $box in $boxes-that-might-contain-figures {

    // Let sidebar elements float beside figures
    // when they are in boxes.
    .#{$box} figure {
        clear: none;
    }
}
