.key-terms {
    break-before: page;

    p {
        margin-bottom: $line-height-default * 0.5;

        & + p {
            text-indent: 0;
        }
    }
}

// Not nested in .key-terms because
// .key-term can be used in any text block.
.key-term {
    color: $theme-color-accent;
}
