aside.worked-example {
    @include boxes-common();

    p {
        margin-bottom: $line-height-default * 0.5;

        & + p {
            text-indent: 0;
        }
    }

    // Visually join these when they follow each other
    & + .self-reflection-activities,
    & + aside.worked-example {

        // The -2px avoids dotted lines overlapping and
        // creating an extra-dark dot at the join.
        margin-top: -($line-height-default)!important;
    }
}
