@mixin toc-level-one() {
    color: $theme-color-accent;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

@mixin toc-level-two() {
    font-size: 14px;
    font-weight: 500;
}

#{$page-toc} {

    h1 {
        @include heading-1(42px);
    }

    nav {
        font-family: $font-text-main;

        ol {

            li {
                margin-bottom: $line-height-default / 2;

                &.toc-front {
                    @include toc-level-two();
                }

                &.toc-part,
                &.toc-unit {
                    @include toc-level-one();
                }

                &.toc-level-one {

                    & ~ .toc-level-two {
                        font-family: $font-text-main;
                    }
                }

                &.toc-level-two {

                    & ~ .toc-level-three {
                        font-family: $font-text-main;
                    }
                }

                &.toc-level-three {}

                &.toc-section {
                    font-family: $font-text-main;
                    font-size: $font-size-default;
                }

                &.toc-unnumbered {
                    @include toc-level-two();
                }

                &.toc-back {
                    @include toc-level-two();
                }
            }
        }
    }
}
