@mixin runner-text-common() {
    @include small-caps();
    font-size: 10px;
    margin-top: $line-height-default;
}

@mixin runner-number-common() {
    font-variant: lining-nums;
}

.pagedjs_margin-bottom {
    grid-template-columns: auto 1fr auto!important;
}

@page :left {

    @top-center {
        @include runner-text-common();
    }
    @bottom-center {
        @include runner-number-common();
    }
}

@page :right {

    @top-center {
        @include runner-text-common();
    }
    @bottom-center {
        @include runner-number-common()
    }
}

// Remove runner borders from certain pages
$page-types-without-runners: cover, half-title-page, title-page, copyright, part;

@each $page-type in $page-types-without-runners {
    @page #{$page-type} {
        @top-center {
            content: normal;
        }
        @bottom-center {
            content: normal;
        }
    }
}
