// We include `div` in the selector here because
// 'summary' is commonly used in custom designs
// for other book features. Specifying `div` may
// reduce the chance of collisions.

div.summary {
    break-before: page;
    page: summary;

    h2 {

        &:first-child {
            margin-bottom: $line-height-default * 0.5;
        }
    }
}

@page summary:left {

    // Can't use top-corner boxes because
    // the wave patterns in each margin box
    // don't line up. Have to extend this box.
    @left-middle {
        @include wavy-vertical-box();
        content: "";
        display: block;
        width: 15mm;
        margin-left: -3mm;
        height: $page-height + (6mm); // allow bleed
        margin-top: -($margin-top + 3mm);
        margin-bottom: -($margin-bottom + 3mm);
    }
}

@page summary:right {

    @right-middle {
        @include wavy-vertical-box-right();
        content: "";
        display: block;
        width: 18mm;
        margin-left: 8mm;
        height: $page-height + (6mm); // allow bleed
        margin-top: -($margin-top + 3mm);
        margin-bottom: -($margin-bottom + 3mm);
    }
}
