aside.tip {
    @include boxes-common;
    border: 0;
}

// When this is in a box of some kind:

$boxes-that-contain-short-tips: box, self-reflection-activities, worked-example;

@each $box in $boxes-that-contain-short-tips {
    .#{$box} aside.tip.short {

        &:last-child {
            margin-bottom: -($line-height-default / 2);
        }
    }
}
